page-fire-detail {


    .firehydrant{
        width: 40px;
        float: right !important;
        margin-top: -50px;

    }

    .alignright{
        text-align: right;
        color: #CB4335;
    }
}
